body {
    padding-top: 100px;
    padding-bottom: 100px;
}

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
}

.table-filter-container {
    text-align: right;
}